*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Helvetica';
}

html,
body{
  height: 100%;
  width: 100%;
}

.parent{
  min-height: 100vh;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
   
}

.card{
  margin-left: 50px;
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.top img{
  height: 40px;
 width: 40px;
 border: 1px solid #dadada;
 border-radius: 50%;
 padding: 2px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 3px 6px;
  border-radius: 5px;
  font-size: 11px;
  color: #b1b1b1;
  background-color: transparent;
  gap: 3px;
}
.center h3{
  font-size: 17px;
  font-weight: 600;

}
.center h3 span{
  font-size: 9px;
  font-weight: 400;
  color: #8b8b8b;
}
.center h2{
  font-size: 20px;
  font-weight: 700;
}

.center .tag{
  display: flex;
  margin-top:10px;
  gap: 5px;
}

.center .tag h4{
  font-size: 10px;
  padding: 4px 8px;
  color: #111;
  background-color: #dadada;
 font-weight: 500;
  border-radius: 3px;
  
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #b7b7b7ee;
  padding-top: 15px;
}

.bottom h3{
  font-size: 17px;
 
}

.bottom p{
  font-size: 10px;
  color: #8b8b8b;
}

.bottom button{
  padding: 5px 10px;
  background-color: #111;
  color: #fff;
  border: none;
  border-radius: 5px;
  
}