*{
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
  background-color:#111;
}

h1{
 
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-size:100px ;
  text-decoration:underline;
}

.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  font-size: 25px;
  background-color:rgb(148, 195, 215);
}

.nav div{
  display: flex;
  align-items: center;
  gap: 50px;
  
}