*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Helvetica';
  color: white;
}

html,
body{
height: 100%;
width: 100% ;
background-color: black;
}

.parent{
padding: 20px;
display: flex;
flex-wrap: wrap;
gap: 10px;
}

.card{
  width: 300px;
  background-color: #222;
  color: white;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
}
.card img{
  height: 140px;
  width: 140px;
  border-radius: 50%;
  object-fit: cover;
}
.card p{
  margin: 20px 0;
}
.card button{
  border-radius: 5px;
  background-color: white;
  color: black;
  padding: 10px 20px;
  border: none;
  
}