*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
html,body{
  height:100%;
  width: 100%;
}
.nav{
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #3903;
}
.nav2{
  display: flex;
  gap: 30px;
}